# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg
.env
.env.local

# Alembic
alembic/versions/*.pyc

# Node / React
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
.pnp/
.pnp.js

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

*.xlsx
